/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

body {
  margin: 0px;
  padding: 0;
  background: black;
}
@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@mixin flex-rowdirection {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@mixin flex-rowrdirection {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@mixin flex-coldirection{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex-colrdirection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@mixin flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
@mixin flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@mixin justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@mixin justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin justify-content-between{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@mixin justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@mixin justfy-content-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
@mixin align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@mixin align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@mixin align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin align-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@mixin align-items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: local('../fonts/Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
  url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Heavy.eot');
  src: local('../fonts/Gilroy Heavy'), local('Gilroy-Heavy'),
  url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Heavy.woff') format('woff'),
  url('../fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-LightItalic.eot');
  src: local('../fonts/Gilroy Light Italic'), local('Gilroy-LightItalic'),
  url('../fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-LightItalic.woff') format('woff'),
  url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ThinItalic.eot');
  src: local('../fonts/Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
  url('../fonts/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-ThinItalic.woff') format('woff'),
  url('../fonts/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-BlackItalic.eot');
  src: local('../fonts/Gilroy Black Italic'), local('Gilroy-BlackItalic'),
  url('../fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-BlackItalic.woff') format('woff'),
  url('../fonts/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-BoldItalic.eot');
  src: local('../fonts/Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
  url('../fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-BoldItalic.woff') format('woff'),
  url('../fonts/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: local('../fonts/Gilroy SemiBold'), local('Gilroy-SemiBold'),
  url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-SemiBold.woff') format('woff'),
  url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-UltraLightItalic.eot');
  src: local('../fonts/Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
  url('../fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-UltraLightItalic.woff') format('woff'),
  url('../fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBoldItalic.eot');
  src: local('../fonts/Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
  url('../fonts/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.eot');
  src: local('../fonts/Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Light.woff') format('woff'),
  url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-MediumItalic.eot');
  src: local('../fonts/Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
  url('../fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-MediumItalic.woff') format('woff'),
  url('../fonts/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBoldItalic.eot');
  src: local('../fonts/Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
  url('../fonts/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('../fonts/Gilroy Regular'), local('Gilroy-Regular'),
  url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-HeavyItalic.eot');
  src: local('../fonts/Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
  url('../fonts/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-HeavyItalic.woff') format('woff'),
  url('../fonts/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.eot');
  src: local('../fonts/Gilroy Medium'), local('Gilroy-Medium'),
  url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-RegularItalic.eot');
  src: local('../fonts/Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
  url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
  url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-UltraLight.eot');
  src: local('../fonts/Gilroy UltraLight'), local('Gilroy-UltraLight'),
  url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-UltraLight.woff') format('woff'),
  url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot');
  src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
  url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Thin.eot');
  src: local('../fonts/Gilroy Thin'), local('Gilroy-Thin'),
  url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Thin.woff') format('woff'),
  url('../fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Black.eot');
  src: local('../fonts/Gilroy Black'), local('Gilroy-Black'),
  url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Black.woff') format('woff'),
  url('../fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
$bluecolor: #1943EF;
$orengecolor: #F26A36;
$greenaquacolor: #26C296;
$litycolortext: #73738D;
$blackcolortext: #222222;
ol, ul, li, a{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $blackcolortext;
}

.container{
  max-width: 998px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background: #fff;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden!important;
  header{
    height: 100%;
    max-height: 100px;
    padding: 0px 103.96px 0px 101.19px;
    @include flex();
    @media screen and (max-width: 997.98px) {
      padding: 0px 2vw;
    }
    nav{
      @include flex();
      @include justify-content-between();
      @include align-items-center();
      width: 100%;
      height: 31.88px;
      margin-top: 23.56px;
      .logo-header{
        font-family: "Gilroy", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24.1183px;
        line-height: 29px;
        color: $blackcolortext;
      }
      ul{
        @include flex();
        @include flex-rowdirection();
        li{
          display: inherit;
          @include justify-content-center();
          @include align-items-center();
          @media screen and (max-width: 575.98px) {
            display: none !important;
          }
          a{
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 11.0889px;
            line-height: 13px;
            color: $litycolortext;
          }
        }
        li:nth-child(2){
          margin: 0px 27px;
          @media screen and (max-width: 997.98px) {
            margin: 0px 2vw;
          }
        }
        li:nth-child(4){
          margin-left: 27px;
        }
        li:last-child{
          margin-left: 26px;
          width: 118.51px;
          height: 31.88px;
          border: 1.03958px solid $bluecolor;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 33.9597px;
          -webkit-transition: 1.2s;
          -o-transition: 1.2s;
          transition: 1.2s;
          @media screen and (max-width: 575.98px) {
            display: block !important;
          }
          a{
            color: $bluecolor;
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 11.0889px;
            line-height: 13px;
            width: 100%;
            height: 100%;
            @include flex();
            @include justify-content-center();
            @include align-items-center();
            -webkit-transition: 1.2s;
            -o-transition: 1.2s;
            transition: 1.2s;
          }
        }
        li:last-child:hover{
          background: $bluecolor;
          -webkit-transition: 1.2s;
          -o-transition: 1.2s;
          transition: 1.2s;
          a:hover{
            color: #fff;
            -webkit-transition: 1.2s;
            -o-transition: 1.2s;
            transition: 1.2s;
          }
        }
      }
    }
  }
  main{
    padding: 0px 103.96px 0px 101.19px;
    @media screen and (max-width: 997.98px) {
      padding: 0px 2vw;
    }
    .container-main-info{
      @include flex();
      @include justify-content-between();
      @include flex-rowdirection();
      margin-top: 64.56px;
      margin-bottom: 136.26px;
      @media screen and (max-width: 997.98px) {
        margin-top: 5vw;
        margin-bottom: 10vw;
        .container-img-info{
          width: 20vw;
          margin-left: 2vw !important;
        }
      }
      .container-content-info, .container-img-info{
        max-height: 458.74px;
      }
      .container-content-info{
        @include flex();
        @include flex-coldirection();
        @include justify-content-center();
        @include align-items-center();
        width: 100%;
        max-width: 429px;
        z-index: 1;
        section{
          h1{
            font-style: normal;
            font-weight: bold;
            font-size: 40.1972px;
            line-height: 49px;
            font-family: "Gilroy", sans-serif;
            color: $blackcolortext;
          }
          span{
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14.5542px;
            line-height: 150%;
            color: $litycolortext;
            text-align: justify;
            @include flex();
            margin-top: 16px;
            margin-bottom: 20.79px;
          }
          div{
            width: 100%;
            height: 41.58px;
            border-radius: 33.9597px;
            -webkit-box-shadow: 0px 2px 104px rgba(0, 0, 0, 0.39);
            box-shadow: 0px 2px 104px rgba(0, 0, 0, 0.39);
            @include flex();
            margin-bottom: 20px;
            input{
              font-family: "Gilroy",sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 11.0889px;
              line-height: 150%;
              color: rgba(115, 115, 141, 0.6);
              width: 58%;
              height: initial;
              border-color: transparent;
              border-bottom-left-radius: 33.9597px;
              border-top-left-radius: 33.9597px;
              padding-left: 16.53px;
              padding-right: 16.53px;
              &:focus{
                outline: none;
              }
            }
            input::-webkit-input-placeholder{
              color: rgba(115, 115, 141, 0.6);
              font-family: "Gilroy",sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 11.0889px;
              line-height: 150%;
            }
            input::-moz-placeholder{
              color: rgba(115, 115, 141, 0.6);
              font-family: "Gilroy",sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 11.0889px;
              line-height: 150%;
            }
            input:-ms-input-placeholder{
              color: rgba(115, 115, 141, 0.6);
              font-family: "Gilroy",sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 11.0889px;
              line-height: 150%;
            }
            input::-ms-input-placeholder{
              color: rgba(115, 115, 141, 0.6);
              font-family: "Gilroy",sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 11.0889px;
              line-height: 150%;
            }
            input::placeholder{
              color: rgba(115, 115, 141, 0.6);
              font-family: "Gilroy",sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 11.0889px;
              line-height: 150%;
            }
            button{
              width: 155.94px;
              height: 41.58px;
              background: $bluecolor;
              border-radius: 33.9597px;
              font-family: "Gilroy", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 11.0889px;
              line-height: 13px;
              color: #FFFFFF;
              border: none;
              @include flex();
              @include justify-content-center();
              @include align-items-center();
              -webkit-transition: 1.2s;
              -o-transition: 1.2s;
              transition: 1.2s;
              cursor: pointer;
              &:focus{
                outline: none;
              }
            }
            button:hover{
              color: $bluecolor;
              background: #fff;
              -webkit-transition: 1.2s;
              -o-transition: 1.2s;
              transition: 1.2s;
              border: 1px solid $bluecolor;
              cursor: pointer;
            }
          }
          ul{
            @include flex();
            @include flex-rowdirection();
            @include justify-content-start();
            li{
              font-family: "Gilroy", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 11.0889px;
              line-height: 150%;
              color: $litycolortext;
            }
            li:nth-child(2){
              margin:0px 16.63px;
            }
            li:before {
              content: '✔';
              color: $litycolortext;
              margin-right: 4px;
            }
          }
        }
      }
      .container-img-info{
        max-width: 230px;
        margin-left: 123px;
        z-index: 1;
        img{
          max-height: inherit;
          max-width: 230px;
        }
      }
    }
    .container-users-about-us{
      margin-bottom: 121.98px;
      @include flex();
      @include justify-content-center();
      @include align-items-center();
      @include flex-coldirection();
      position: relative;
      .x1 {
        position: absolute;
        top: 50px;
        -webkit-animation: animatedx1 15s linear infinite;
        animation: animatedx1 15s linear infinite;
        -webkit-transform: rotateZ(70deg);
        -ms-transform: rotate(70deg);
        transform: rotateZ(70deg);
        border: 2px solid #F5AC18;
        border-radius: 50%;
        width: 60px;
        height: auto;
        -webkit-filter: blur(2px);
        filter: blur(2px);

        @-webkit-keyframes animatedx1 {
          from { left: -400px;}
          to {left:120%;}

        }

        @keyframes animatedx1 {
          from { left: -400px;}
          to {left:120%;}

        }
      }
      .x2 {
        position: absolute;
        top: 150px;
        -webkit-animation: animatedx2 25s linear infinite;
        animation: animatedx2 25s linear infinite;
        border: 2px solid $greenaquacolor;
        border-radius: 50%;
        width: 80px;
        height: auto;
        -webkit-filter: blur(2px);
        filter: blur(2px);

        @-webkit-keyframes animatedx2 {
          from {left: -350px;}
          to {left:120%;}
        }

        @keyframes animatedx2 {
          from {left: -350px;}
          to {left:120%;}
        }
      }
      .x3 {
        position: absolute;
        top:240px;
        -webkit-animation: animatedx3 19s linear infinite;
        animation: animatedx3 19s linear infinite;
        border: 2px solid $bluecolor;
        border-radius: 50%;
        width: 50px;
        height: auto;
        -webkit-filter: blur(2px);
        filter: blur(2px);

        @-webkit-keyframes animatedx3 {
          from {left: -300px;}
          to {left:120%;}
        }

        @keyframes animatedx3 {
          from {left: -300px;}
          to {left:120%;}
        }
      }
      .x4 {
        position: absolute;
        top:356px;
        -webkit-animation: animatedx3 27s linear infinite;
        animation: animatedx3 27s linear infinite;
        border: 3px solid $orengecolor;
        border-radius: 50%;
        width: 40px;
        height: auto;
        -webkit-filter: blur(2px);
        filter: blur(2px);

        @-webkit-keyframes animatedx3 {
          from {left: -250px;}
          to {left:120%;}
        }

        @keyframes animatedx3 {
          from {left: -250px;}
          to {left:120%;}
        }
      }
      .x5 {
        position: absolute;
        top:200px;
        -webkit-animation: animatedx3 22s linear infinite;
        animation: animatedx3 22s linear infinite;
        border: 2px solid $orengecolor;
        border-radius: 50%;
        width: 50px;
        height: auto;
        -webkit-filter: blur(2px);
        filter: blur(2px);

        @-webkit-keyframes animatedx5 {
          from {left: -100px;}
          to {left:120%;}
        }

        @keyframes animatedx5 {
          from {left: -100px;}
          to {left:120%;}
        }
      }
      .x6 {
        position: absolute;
        top:140px;
        -webkit-animation: animatedx7 30s linear infinite;
        animation: animatedx7 30s linear infinite;
        border: 2px solid #F5AC18;
        border-radius: 50%;
        width: 50px;
        height: auto;
        -webkit-filter: blur(2px);
        filter: blur(2px);

        @-webkit-keyframes animatedx7 {
          from {left: -200px;}
          to {left:120%;}
        }

        @keyframes animatedx7 {
          from {left: -200px;}
          to {left:120%;}
        }
      }
      .x7 {
        position: absolute;
        top:300px;
        -webkit-animation: animatedx6 30s linear infinite;
        animation: animatedx6 30s linear infinite;
        border: 2px solid #F5AC18;
        border-radius: 50%;
        width: 50px;
        height: auto;
        -webkit-filter: blur(2px);
        filter: blur(2px);

        @-webkit-keyframes animatedx6 {
          from {left: -400px;}
          to {left:120%;}
        }

        @keyframes animatedx6 {
          from {left: -400px;}
          to {left:120%;}
        }
      }

      h2{
        font-family: "Gilroy", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24.95px;
        line-height: 30px;
        text-align: center;
        color: #222222;
        margin: 0px;
        -webkit-margin-before: 0px;
        margin-block-start: 0px;
        -webkit-margin-after: 0px;
        margin-block-end: 0px;
        position: relative;
        z-index: 1;
      }
      .wrapper{
        max-width: 541px;
        @media screen and (max-width: 575.98px) {
          width: 95vw;
        }
        .icon {
          display: inline-block;
          width: 1em;
          height: 1em;
          stroke-width: 0;
          stroke: currentColor;
          fill: currentColor;
        }
        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          pointer-events: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .news {
          &-slider {
            z-index: 2;
            max-width: 541px;
            margin-left: auto;
            margin-right: auto;

            &__wrp {
              @include flex();
              @include align-items-start();
              position: relative;
              z-index: 2;
            }

            &__item {
              width: 501px;
              -ms-flex-negative: 0;
              flex-shrink: 0;
              height: auto;
              //padding: 15px;

              &.swiper-slide {
                opacity: 0;
                pointer-events: none;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                padding: 0px 20px;
              }

              &.swiper-slide-active{
                opacity: 1;
                pointer-events: auto;
                /*box-shadow: 0px 13.8611px 55.4444px #F2F5FA;*/
                border-radius: 8.31667px;
              }
              &.swiper-slide-prev{
                opacity: 0;
                pointer-events: auto;
              }
              &.swiper-slide-next {
                opacity: 0;
                pointer-events: auto;
              }
            }
            @media screen and (max-width: 575.98px) {
              &__item {
                width: 90vw;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                height: auto;
              }
            }

            &__ctr {
              position: relative;
              z-index: 12;
            }

            &__arrow {
              background: #fff;
              border: none;
              display: -webkit-inline-box;
              display: -ms-inline-flexbox;
              display: inline-flex;
              width: 50px;
              height: 50px;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
              box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
              border-radius: 50%;
              position: absolute;
              top: 50%;
              z-index: 12;
              cursor: pointer;
              outline: none!important;

              &:focus {
                outline: none!important;
              }

              .icon-font {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                color:#303030;
              }

              &.news-slider-prev {
                left: 15px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
              }

              &.news-slider-next {
                right: 15px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
              }

            }

            &__pagination {
              text-align: center;
              margin-top: 33px;
              /*@media screen and (max-width: 576px) {
                 margin-top: 50px;
               }*/
              .swiper-pagination-bullet {
                display: inline-block;
                margin: 0 5px;
                border-radius: 20px;
                -webkit-transition: opacity .5s, background-color .5s, width .5s;
                -o-transition: opacity .5s, background-color .5s, width .5s;
                transition: opacity .5s, background-color .5s, width .5s;
                -webkit-transition-delay: .5s, .5s, 0s;
                -o-transition-delay: .5s, .5s, 0s;
                transition-delay: .5s, .5s, 0s;
                width: 5.54px;
                height: 5.54px;
                background: #DBE5F1;
              }

              .swiper-pagination-bullet-active {
                opacity: 1;
                -webkit-transition-delay: 0s;
                -o-transition-delay: 0s;
                transition-delay: 0s;
                width: 16.63px;
                height: 5.54px;
                background: #26C296;

                @media screen and (max-width: 576px) {
                  width: 20px;
                }

              }
            }

          }

          &__item {
            color: #303030;
            border-radius: 10px;
            @include flex();
            @include justify-content-center();
            @include align-items-center();
            @include flex-coldirection();
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;

            /*@media screen and (min-width: 800px) {
              &:hover {
                color: #222222;
                transition-delay: .1s;
                //transform:scale(1.1);
                //background: #fff;
                //box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);

                .news-sub,.news__title,.news__txt {
                  opacity: 1;
                  transition-delay: .1s;
                }

                .news__img {
                  //box-shadow: none;
                }

              }
            }*/

            &.active {
              color: #303030;
              //transform:scale(1.1);

              .news-sub,.news__title,.news__txt {
                opacity: 1;
              }

              .news__img {
                //box-shadow: none;
              }

            }

            /*@media screen and (max-width: 992px) {
              //padding: 30px;
            }

            @media screen and (max-width: 576px) {
              //padding: 20px;
            }*/

          }

          &-sub {
            @include flex();
            img{
              width: 11.41px;
              height: 16.63px;
            }
            img:first-child{
              margin-right: 4px;
            }
            /*margin-top:4px;
            margin-left: 6px;
            display: inline-block;
            opacity: .7;
            font-weight: 500;
            color: rgba(0,0,0,0.5);
            transition: opacity .3s;*/
            /*@media screen and (max-width: 576px) {
              margin-bottom: 10px;
              display: inline-flex;
              align-items: center;
              padding-bottom: 0;
            }*/
            /*&__title {
              display: block;
              @media screen and (max-width: 576px) {
                margin-right: 10px;
              }*/
            &__txt {
              font-size: 16px;
            }

          }

          &__title {
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14.5542px;
            line-height: 17px;
            color: #222222;
            margin: 16.63px 0px;
            /*@media screen and (max-width: 576px) {
              font-size: 22px;
              margin-bottom: 10px;
            }*/
          }

          &__txt {
            max-width: 451.87px;
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14.5542px;
            line-height: 150%;
            text-align: center;
            color: #73738D;
            margin: 8.32px 0px 16.63px 0px;
          }

          &__img {
            width: 86.63px;
            height: 86.63px;
            margin-top: 50px;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            /*box-shadow: 0px 13.8611px 55.4444px #F2F5FA;*/
            border-radius: 8.31667px;

            img {
              -webkit-transform: scale(1.5);
              -ms-transform: scale(1.5);
              transform: scale(1.5);
            }

          }

          &__img-sign{
            width: 110.89px;
            height: 49.9px;
            margin-bottom: 27px;
          }

        }
      }
    }
    .container-trial{
      @include flex();
      @include flex-rowdirection();
      @include justify-content-between();
      @include align-items-center();
      max-width: 792px;
      max-height: 123.36px;
      height: 100%;
      padding: 36.89px 2%;
      margin: 0 auto;
      background: #FFFFFF;
      -webkit-box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
      box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
      border-radius: 8.31667px;
      margin-bottom: 69.31px;
      position: relative;
      z-index: 1;
      section{
        h2{
          font-family: "Gilroy", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 24.95px;
          line-height: 30px;
          color: #222222;
          margin: 0px;
          -webkit-margin-before: 0px;
          margin-block-start: 0px;
          -webkit-margin-after: 0px;
          margin-block-end: 0px;
        }
        span{
          font-family: "Gilroy", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 11.0889px;
          line-height: 150%;
          color: #73738D
        }
      }
      button{
        width: 155.94px;
        height: 41.58px;
        background: $greenaquacolor;
        border-radius: 33.9597px;
        border-color: transparent;
        font-family: "Gilroy", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 11.0889px;
        line-height: 13px;
        color: #FFFFFF;
        -webkit-transition: 1.2s;
        -o-transition: 1.2s;
        transition: 1.2s;
        cursor: pointer;
        &:focus{
          outline: none;
        }
      }
      button:hover{
        background: white;
        border: 1px solid $greenaquacolor;
        color: $greenaquacolor;
        -webkit-transition: 1.2s;
        -o-transition: 1.2s;
        transition: 1.2s;
        cursor: pointer;
        &:focus{
          outline: none;
        }
      }
    }
    .contact-info{
      @include flex();
      @include flex-rowdirection();
      @include justify-content-between();
      @include align-items-baseline();
      margin-bottom: 83.17px;
      section{
        @include flex();
        @include flex-coldirection();
        @include align-items-start();
        details{
          &:focus{
            outline: none;
          }
          summary{
            margin-bottom: 25px;
            &:focus{
              outline: none;
            }
            span{
              font-family: "Gilroy", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 16.6333px;
              line-height: 13px;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              color: #222222;
              margin-bottom: 16.63px;
              &:focus{
                outline: none;
              }
              i{
                display: none;
              }
            }
          }
        }
        details[open]{
          &:focus{
            outline: none;
          }
          summary{
            margin-bottom: 25px;
            &:focus{
              outline: none;
            }
            span{
              font-family: "Gilroy", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 16.6333px;
              line-height: 13px;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              color: #222222;
              margin-bottom: 16.63px;
              &:focus{
                outline: none;
              }
              i{
                display: none;
              }
            }
          }
          nav{
            ul{
              li{
                margin-bottom: 12.48px;
                a{
                  text-decoration: none;
                  font-family: "Gilroy", sans-serif;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 11.0889px;
                  line-height: 13px;
                  color: #73738D;
                }
                a:hover{
                  color: $bluecolor;
                }
              }
            }
          }
        }
        details summary::-webkit-details-marker {
          display:none;
        }
        details summary:before {
          content: ""; /* новая иконка */
        }
        details summary { list-style-type: none; } /* Firefox */
      }
    }
  }
  footer{
    @include flex();
    @include flex-coldirection();
    @include justify-content-center();
    @include align-items-center();
    padding: 0px 103.96px 0px 101.19px;
    padding-bottom: 31.27px;
    h3{
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16.6531px;
      line-height: 20px;
      color: #222222;
    }
    span{
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 11.0889px;
      line-height: 13px;
      color: #73738D;
    }
  }
  .figure1{
    position: absolute;
    width: 40.99px;
    height: 40.99px;
    left: 338.9px;
    top: -28.41px;
    background: transparent;
    border: 12px solid #F26A36;
    border-radius: 50%;
  }
  .figure2{
    position: absolute;
    width: 50.2px;
    height: 50.2px;
    left: 642px;
    top: 120px;
    background: transparent;
    border: 1px solid #F26A36;
    border-radius: 50%;
    @include flex();
    @include justify-content-center();
    @include align-items-center();
    div{
      width: 30.2px;
      height: 30.2px;
      background: transparent;
      border: 1px solid #F26A36;
      border-radius: 50%;
    }
  }
  .figure3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: -92px;
    top: 510.99px;
    background: transparent;
    border: 23px solid #F26A36;
    border-radius: 50%;
  }
  .figure4{
    position: absolute;
    width: 45.99px;
    height: 45.99px;
    left: 851px;
    top: 516px;
    background: transparent;
    border: 12px solid #F26A36;
    border-radius: 50%;
  }
  .figure5{
    position: absolute;
    width: 36.99px;
    height: 36.99px;
    left: 67.54px;
    top: 1295.01px;
    background: transparent;
    border: 12px solid #64CCE3;
    border-radius: 50%;
  }
  .figure6{
    position: absolute;
    width: 120.18px;
    height: 120.18px;
    left: 925.31px;
    top: 1585.37px;
    background: transparent;
    border: 1px solid #F5AC18;
    border-radius: 50%;
    @include flex();
    @include justify-content-center();
    @include align-items-center();
    div{
      width: 80.2px;
      height: 80.2px;
      background: transparent;
      border: 1px solid #F5AC18;
      border-radius: 50%;
    }
  }
  .figure7 {
    width: 46.85px;
    height: 43.73px;
    left: 89.63px;
    top: 214.98px;
    position: absolute;
    background-image: url('data:image/svg+xml;utf8,<svg width="22" height="22" xmlns="http://www.w3.org/2000/svg"><rect width="4" height="4" style="fill-opacity: 1; fill: orange;"/></svg>');
    background-size: 8px 8px;
    background-color:transparent;
  }
  .figure8{
    position: absolute;
    width: 46.85px;
    height: 43.73px;
    left: 725px;
    top: 1116.39px;
    background-image: url('data:image/svg+xml;utf8,<svg width="22" height="22" xmlns="http://www.w3.org/2000/svg"><rect width="4" height="4" style="fill-opacity: 1; fill: cyan;"/></svg>');
    background-size: 8px 8px;
    background-color:transparent;
  }
}